# Administració
VITE_ADMIN_PASSWORD=alpina2026

# Backup a Google Apps Script / Sheet (Opcional)
VITE_GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxQenCUg4cqxDO3JpNKAzNh06LkMvaI40oCke9yDrWuxRakhOAZ7rw9XOmEHpg2I5EI/exec

# Configuració de correus automàtics EmailJS (Opcional)
# Crea un compte gratuït a https://www.emailjs.com/
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
